.container {
    margin: 0 auto;
    padding: 1rem;
}

.cover {
    padding: 0.5rem;
}
.content {
    background-color: var(--COLOR-LIGHTER);
    color: black;
    margin: 1rem;
    padding: 1rem;
    opacity: 90%;
    border-radius: 7px;
    overflow: hidden;
    max-height: 100%;
}
.statusRating {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.description {

}



.buttons {
    display: flex;
    gap: 3rem;
    padding: 1rem 2rem;

}
@media (min-width: 800px) {
    .coverContent {
        display: flex;
        justify-content: space-between;
    }
    .cover {
        padding: 2rem;
    }
}