.details {
    padding: 4rem 0;
    margin: auto;
    text-align: center;
    color: whitesmoke;
}
a {
    color: whitesmoke;
}

.cover {
    background-color: var(--COLOR-LIGHT);
    border-radius: 25px;
    width: 50vw;
    padding: 0.5rem;
    margin: 0 auto;
}
.coverImage {

}
.title {
    font-size: 20px;
    color: white;
}
.author {
    font-size: 16px;
    color: white;
}
.year {

}
.getInfo {
    display: flex;
    justify-content: space-around;
}
.statusRating {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 450px) {
    .details {

    }

}