.container {
    padding: 1rem;
    z-index: 0;
}
.search {
    max-width: 550px;
    padding: 1rem;
    margin: 0 auto;
}
.bookContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.heading {
    color: var(--COLOR-LIGHTER);
    font-weight: 600;
}
.form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

@media (min-width: 600px) {
    .bookContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 3rem 2rem;
    }

}