.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)), url("../../assets/images/adobe-bg-portrait.jpeg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: repeat-y;
    height: 100vh;
}
.content {
    padding: 7rem 3rem;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;

}
.button {
    margin: auto;
    width: 200px;
}

@media (min-width: 600px) {
    .container {
        margin: auto;

    }
    .card {
        max-width: 620px;
        margin: auto;
    }
}