

.search {
    padding: 1rem 3rem;
}

.bookContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


@media (min-width: 600px) {
    .bookContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 3rem 2rem;
    }

}