.root {

}

.infobar {
    margin: 50px;
}

main {
    padding-bottom: 100px;
}

.desktop {
    display: none;
}
.mobile {
    display: block;
}

@media (min-width: 450px){
    main {
        padding-top: 70px;
    }
    .infobar {
        display: none;
    }

    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}