.root {

}

.main {
    padding: 50px 0 80px 0;
}

.desktop {
    display: none;
}
.mobile {
    display: block;
}

@media (min-width: 450px){
    .main {
        padding-top: 70px;
    }
    .infobar {
        display: none;
    }

    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}