.container {
    display: flex;
    position: fixed;
    top: 0;
    background: linear-gradient(to right, #434343 0%, black 100%);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 20px;
    z-index: 1000;
    text-align: center;
}
.user {
    width: 100%;
    display: flex;
    gap: 40%;
    justify-content: space-between;
}
.logo {

}
.back {

}

.title {
    margin: auto;
    color: var(--COLOR-ALT);
}

@media (min-width: 600px) {
    .container {
        display: none;
    }

}