{/* mobile display */}

.container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
    background: var(--BACKGROUND);
    z-index: 1000;
}

.link {
    color: var(--COLOR-LIGHT);
    width: 100%;
    height: 100%;
    text-align: center;
}

.active {
    background-color: var(--COLOR-LIGHTER);
    color: var(--COLOR);
}

@media (min-width: 600px) {
    .container {
        display: none;
    }

}


