.container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    background: var(--BACKGROUND);
    z-index: 1;
    padding: 0 2rem;
    background: linear-gradient(to right, #434343 0%, black 100%);
}
.header {
    display: none;
}
.title {
    display: none;
}

.link {
    color: var(--COLOR-LIGHT);
    width: 100%;
    height: 100%;
    text-align: center;
}
.active {
    background-color: var(--COLOR-LIGHTER);
    color: var(--COLOR);
}
@media (min-width: 600px) {
    .container {
        display: block;
        height: auto;
        justify-content: space-between;
        padding: 0 2rem;
        background: linear-gradient(to right, #434343 0%, black 100%);
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .link {
        font-size: 28px;
        color: var(--COLOR-DARK);
        text-align: center;
        padding: 0 0.5rem;
    }
    .link:hover {
        color: var(--COLOR-LIGHT);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }
    .active {
        background-color: inherit;
    }
    .auth {
        display: flex;
        gap: 0.5rem;
        font-size: 28px;
    }
    .title {
        display: block;
        color: var(--COLOR-ALT);
    }
}