:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-background-size: calc(100vw) calc(100vh);
    -moz-background-size: calc(100vw) calc(100vh);
    -o-background-size: calc(100vw) calc(100vh);
    background-size: calc(100vw) calc(100vh);
    --COLOR-LIGHTER: #FEFEFE;
    --COLOR-LIGHT: #F2EDE1;
    --COLOR: #9F6B4E;
    --COLOR-ALT: #F99052;
    --COLOR-DARK: #54433A;
    --COLOR-GRADIENT: radial-gradient(var(--COLOR), var(--COLOR-LIGHT));
    --BACKGROUND: linear-gradient(to right, #434343 0%, black 100%);

}
html {
    min-height: 100%;
}
*, :after, :before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    scroll-padding: 120px 0 0;
    transition: color 0.3s, background-color 0.3s;
    min-height: 100vh;
    background-color: var(--COLOR-LIGHTER);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: repeat-y;
    color: var(--COLOR-DARK);
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    white-space: nowrap;
    hyphens: auto;
    overflow: hidden;
    text-overflow: clip;
    width: 100%;
}
p {
    text-align: justify;
}
