:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-background-size: calc(100vw) calc(100vh);
    -moz-background-size: calc(100vw) calc(100vh);
    -o-background-size: calc(100vw) calc(100vh);
    background-size: calc(100vw) calc(100vh);
    --COLOR-LIGHT: #B0A8B9;
    --COLOR: #845EC2;
    --COLOR-ALT: #FF8066;
    --COLOR-DARK: #4B4453;
    --COLOR-GRADIENT: radial-gradient(var(--COLOR), var(--COLOR-LIGHT))

}
*, :after, :before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--COLOR-DARK);
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    scroll-padding: 120px 0 0;
    transition: color 0.3s, background-color 0.3s;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #434343 0%, black 100%);
}

a {
    color: inherit;
    text-decoration: none;
}

textarea:focus {
    outline: 4px auto -webkit-focus-ring-color;
    outline-offset: -1px;
}

img {
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}
