:root {
    --COLOR-LIGHT: #B0A8B9;
    --COLOR: #845EC2;
    --COLOR-ALT: #FF8066;
    --COLOR-DARK: #4B4453;
    --COLOR-GRADIENT: radial-gradient(var(--COLOR), var(--COLOR-LIGHT))

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "pastiche-brush", sans-serif;
}

body {
    background: linear-gradient(to right, #434343 0%, black 100%);
    height: 100vh;
    max-width: 1200px;
    margin: auto;

}

a {
    text-decoration: none;
}