.coverContainer {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: var(--COLOR-LIGHTER);
    width: 200px;
    margin: 0 auto;

}
.coverImage {
    border-radius: 5px;
}



@media (min-width: 800px) {
    .coverContainer {
        width: auto;
    }
    .coverImage {
        width: 600px;
    }
}