.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.card {
    display: flex;

}

.text {
    color: var(--COLOR-LIGHT);
    margin: auto;
    text-align: center;
    font-size: 16px;
}

.image {
    width: 50%;
}

@media (min-width: 450px) {
    .text {
        font-size: 24px;
    }
}