.content {
    display: flex;
    flex-direction: column;
}
.card {
    display: flex;
}

.text {
    margin: auto;
    text-align: center;
}

.image {
    width: 50%;
    border-radius: 7px;
}

@media (min-width: 450px) {
    .text {
        font-size: 24px;
    }
}