.form {
    color: var(--COLOR-LIGHT);
    margin: 0 2rem;
}
.input {

}
.btn {
    margin: auto;
    width: 50%;
}

@media (min-width: 450px) {
    .form {
        display: flex;
        padding: 2rem;
    }
    .input {
        width: 70%;
    }
    .btn {
        width: 20%;
        margin: auto;
    }
}