.container {
    z-index: 10;
}

.details {
    margin: 0 auto;
    text-align: center;
}
.details > * {
    text-align: center;
}
.cover {
    width: 180px;
    height: 240px;
}
.title {
    font-size: 20px;

}
.author {
    font-size: 16px;
}
.getInfo {
    display: flex;
    justify-content: space-around;
}
.statusRating {
    display: flex;
    justify-content: space-around;
}
.buttons {
    display: flex;
    justify-content: space-around;

}
.btn {
    width: 125px;
}
@media (min-width: 450px) {


}