.form {
    color: var(--COLOR-LIGHT);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease-in-out all;
    z-index: 20;
}

.title {
    font-weight: 400;
    font-style: normal;
    font-size: 4rem; /* 48px */
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
}

@media (min-width: 450px) {
    .form {
        height: 98%;
        width: 98%;
        margin: 1% 1%;
    }
}