.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.cover {
    width: 160px;
    height: 200px;
    border-radius: 7px;
}
.details {
    width: 160px;
    text-align: justify;
}
.title {
    font-weight: 600;
    color: var(--COLOR-LIGHTER);
}
.author {
    font-size: 14px;
}
.year {
    font-size: 12px;
}

@media (min-width: 600px) {
    .container {
        flex-direction: column;
        width: 150px;
    }
    .cover {
        width: 150px;
        height: 225px;
    }

}