
.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.buttons {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

@media (min-width: 600px) {
    .buttons {
        gap: 0;
    }
}