.container {
    position: relative;
    padding: 6rem 0 4rem 0;
}
.backButton {
    position: absolute;
    font-size: 48px;
    top: 1.7rem;
    z-index: 10;
}
.editButton {
    position: absolute;
    font-size: 62px;
    top: 1rem;
    right: 1rem;
    z-index: 10;
}
.dates {
    font-size: 13px;
}
.title {
    font-size: 18px;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.content {
    white-space: break-spaces;
}
.form {
    padding-top: 1rem;
    padding-right: 1rem;
}

@media (min-width: 705px) {
    .backButton {
        display: none;
    }
}
@media (min-width: 1000px) {
    .container {
        padding: 6rem 2rem 6rem 2rem;
    }
    .title {
        font-size: 24px;
        padding-bottom: 2rem;
    }
    .dates {
        font-size: 14px;
    }
}