.fullImage {
    display: none;
}
.halfImage {
    position: fixed;
}

.notebook {
    position: relative;
}

.createButton {
    position: absolute;
    color: black;
    font-size: 48px;
    top: 1rem;
    right: 2rem;
    z-index: 10;
}
.createForm {
    z-index: 100;
}
.hidden {
    display: none;
}
.list {
    padding-right: 2rem;
}

@media (min-width: 500px) {
    .list {
        left: 4rem;
    }
}
@media (min-width: 705px) {
    .hidden {
        display: unset;
    }
    .halfImage {
        display: none;
    }
    .fullImage {
        display: unset;
        position: fixed;
    }
    .createButton {
        left: 2rem;
    }
    .notebook {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .left {
        padding-right: 4rem;
    }
    .right {

    }
}
@media (min-width: 1000px) {
    .createButton {
        top: 2rem;
    }
    .title {
        padding-right: 5rem;
    }
}