.container {
    background-image: url("../../../assets/images/notebook-half.png");
    background-size: contain;
    background-repeat: repeat-y;
    min-height: 620px;

}
.hidden {
    display: none;
}
.hiddenAll {
    display: none;
}
.notebook {
    position: relative;
}
.createButton {
    position: absolute;
    font-size: 48px;
    top: 1rem;
    right: 2rem;
    z-index: 10;
}
.createForm {
    z-index: 100;
}
.leftContainer {
    width: 100%;
}
.left {
    width: 80%;
    margin: 0 0 1rem 4rem;
    padding-top: 5rem;
}
.right {
    width: 80%;
    margin: 0 0 1rem 3.75rem;
    padding-top: 5rem;
    justify-self: end;

}
@media (min-width: 361px) {
    .container {
        min-height: 671px;
    }
    .right {
        margin-left: 4.2rem;
    }
}
@media (min-width: 391px) {
    .container {
        min-height: 741px;
    }
    .right {
        margin-left: 4.2rem;
    }
}
@media (min-width: 431px) {
    .container {
        min-height: 855px;
    }
    .left {
        margin-left: 4.5rem;
    }
    .right {
        margin-left: 4.8rem;
    }
}

@media (min-width: 500px) {
    .container {
        min-height: 945px;
    }
    .left {
        margin-left: 5rem;
    }
    .right {
        margin-left: 5.25rem;
    }
}
@media (min-width: 550px) {
    .container {
        min-height: 1065px;
    }
    .left {
        margin-left: 5.5rem;
    }
    .right {
        margin-left: 6rem;
    }
}
@media (min-width: 620px) {
    .container {
        min-height: 1205px;
    }
    .left {
        margin-left: 6.2rem;
    }
    .right {
        margin-left: 6.5rem;
    }
}
@media (min-width: 705px) {
    .container {
        background-image: url("../../../assets/images/notebook-full.png");
        min-height: 665px;
    }
    .hidden {
        display: block;
    }
    .createButton {
        left: 1.5rem;
        top: 1rem;
    }
    .notebook {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .left {
        margin: 5rem 0 1rem 3rem;
        width: 75%;
        padding: 0;
    }
    .right {
        width: 75%;
        margin: 5rem 2rem 1rem 0;
        justify-self: end;
        padding: 0;
    }
}
@media (min-width: 769px) {
    .container {
        min-height: 711px;
    }
    .left {
        margin-left: 4rem;
    }
}
@media (min-width: 821px) {
    .container {
        min-height: 792px;
    }
    .left {
        margin-left: 4rem;
    }
}
@media (min-width: 913px) {
    .container {
        min-height: 890px;
    }
    .left {
        margin-left: 4rem;
    }
}

@media (min-width: 1025px) {
    .container {
        min-height: 1040px;
    }
    .left {
        margin-left: 4rem;
    }
    .right {
        margin-right: 2.5rem;

    }
}
@media (min-width: 1201px) {
    .container {
        min-height: 1215px;
    }
    .left {
        margin-left: 5rem;
    }
    .right {
        margin-right: 3rem;
    }
}
@media (min-width: 1281px) {
    .container {
        min-height: 1250px;
    }
    .left {
        margin-left: 5rem;
    }
    .right {
        margin-right: 3rem;
    }
}
@media (min-width: 1441px) {
    .container {
        min-height: 1390px;
    }
    .left {
        margin-left: 6rem;
    }
    .right {
        margin-right: 4rem;
    }
}
