.container {
    background-image: url("../../../assets/images/notebook-half.png");
    background-size: contain;
    background-repeat: repeat-y;
    min-height: 690px;
}
.hidden {
    display: none;
}
.hiddenAll {
    display: none;
}
.notebook {
    position: relative;
}
.createButton {
    position: absolute;
    font-size: 48px;
    top: 1rem;
    right: 2rem;
    z-index: 10;
}
.createForm {
    z-index: 100;
}
.left {
    width: 75%;
    margin: 0 2rem 1rem 4rem;
    padding-top: 5rem;
}
.right {
    width: 75%;
    margin: 0 2rem 1rem 4rem;
    padding-top: 5rem;
    justify-self: end;

}
@media (min-width: 400px) {
    .container {
        min-height: 1000px;
    }
    .left {
        margin-left: 5rem;
    }
    .right {
        margin-left: 5rem;
    }
}
@media (min-width: 550px) {
    .container {
        min-height: 1250px;
    }
    .left {
        margin-left: 7rem;
    }
    .right {
        margin-left: 7rem;
    }
}
@media (min-width: 705px) {
    .container {
        background-image: url("../../../assets/images/notebook-full.png");
        min-height: 740px;
    }
    .hidden {
        display: block;
    }
    .createButton {
        left: 1.5rem;
        top: 1rem;
    }
    .notebook {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .left {
        margin: 5rem 0 1rem 3rem;
        width: 70%;
        padding: 0;
    }
    .right {
        width: 75%;
        margin: 5rem 2.5rem 1rem 0 ;
        justify-self: end;
        padding: 0;
    }
}
@media (min-width: 850px) {
    .container {
        min-height: 900px;
    }
}
@media (min-width: 1000px) {
    .container {
        min-height: 1050px;
    }
    .left {
        margin-left: 4rem;
    }
    .right {
        margin-left: 6rem;
    }
}
@media (min-width: 1200px) {
    .container {
        min-height: 1280px;
    }
    .left {
        margin-left: 5rem;
    }
    .right {
        margin-right: 3rem;
    }
}
@media (min-width: 1400px) {
    .container {
        min-height: 1460px;
    }
    .left {
        margin-left: 6rem;
    }
    .right {
        margin-right: 4rem;
    }
}
@media (min-width: 1680px) {
    .container {
        min-height: 1480px;

    }
}