.container {
    margin: 0 auto;
    padding: 0.6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--COLOR-DARK);
    border-bottom: 2px solid var(--COLOR-LIGHT);
    overflow: hidden;
    text-overflow: clip;
}
.titleDate {
    display: grid;
    grid-template-columns:3fr 2fr;
    align-items: start;
}
.title {
    font-weight: bolder;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.date {
    font-size: 13px;
    text-align: end;
}
.content {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
    padding-right: 1rem;

}
.collapsed {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    padding: 1rem;
}
.expanded {
    padding: 1rem;
    white-space: break-spaces;

}
.editButton {
    position: absolute;
    right: -0.4rem;
    top: 2rem;
    font-size: 32px;

}
.buttons {
    position: absolute;
    right: -0.2rem;
    top: 0;
    font-size: 32px;
}

@media (min-width: 705px) {
    .note {
        display: none;
    }
    .editButton {
        display: none;
    }
    .buttons {
        display: none;
    }
    .titleDate {
        align-items: center;
    }
    .date {
        font-size: 11px;
    }
    .title {
        font-size: 14px;
    }
    .content {
        padding-right: 0;
    }
    .collapsed {
        font-size: 12px;
    }

}
@media (min-width: 1000px) {
    .date {
        font-size: 13px;
    }
    .title {
        font-size: 16px;
    }
    .collapsed {
        font-size: 14px;
    }
}
