.container {
    padding: 0 2rem;
    color: var(--COLOR-DARK);
    margin: .5rem;
    border-radius: 10px;
}



.dates {
    display: flex;
    justify-content: space-between;
}
.title {
    font-size: 24px;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.editButton {
    font-size: 62px;
    color: black;
    text-align: right;
    padding-top: 1.4rem;
}