.container {
    padding: 0 2rem;
    color: var(--COLOR-DARK);
    margin: .5rem;
    border-radius: 10px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.dates {
    font-size: 13px;
}
.editButton {
    font-size: 62px;
    color: black;
    text-align: right;
    padding-top: 1.4rem;
}

@media (min-width: 1000px) {
    .title {
        font-size: 24px;
        padding-bottom: 2rem;
    }
    .dates {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
    }
}