.container {

}
.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.title {
    font-size: 20px;
    font-weight: 600;
}
.text {
    padding: 2rem 5rem;
}
.addButton {

}