.bookNoteItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 70px;
    background-color: black;
    border-top: 2px solid var(--COLOR-LIGHT);
}

.title {
    margin-left: 1rem;
    display: flex;
    gap: 1rem;
    color: white;
}

.arrow {
    cursor: pointer;
}

.arrow:hover {
    color: var(--COLOR);
}

